div + div {
  margin-top: 1em;
}

input {
  font: 1em sans-serif;

  width: 100px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

.clock{
  display: inline;  
}

#myCrono {
  font-size: 40px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#myMilli {
  font-size: 20px;
}

.button {
 padding-left: 90px; 
}

#form-button {
  padding-bottom: 90px; 
}

#string-label {
  margin-top: 100em;
}

#hour {
  padding-left: 10px;
}

label#minute {
  margin-top: 1em;
}

#second{
  margin-right: 20;
}